*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-size: 10px; */
}

body {
    margin: 0;
}

#content {
    display: grid;
    justify-items: center;
    align-items: center;
}

.image-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: min-content;
    padding: 20px;
}

#main-image {
    width: 500px;
}

.main-content {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 600px;
    text-align: center;
}

.copy {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}