*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    --content-width: 600px;
}

body {
    display: grid;
    grid-template-columns: var(--content-width);
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 100vw;
}

#header {
    height: 60px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.tab-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    width: var(--content-width);
    height: 100%;
    padding-top: 10px;
}

.tab-container button {
    width: 100%;
    height: 100%;
    font-size: 1.25rem;
    font-family: inherit;
}

#content {
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--content-width);
}

.title {
    justify-self: center;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}

.image-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: min-content;
    padding-top: 20px;
    padding-bottom: 20px;
}

#main-image {
    width: var(--content-width);
}

.main-content {
    display: grid;
    justify-content: center;
    align-items: center;
    width: var(--content-width);
    text-align: center;
}

.copy {
    margin-top: 1rem;
    margin-bottom: 0.25rem;
}

.menu-container {
    display: grid;
    gap: 20px;
    width: var(--content-width);
}

.menu-heading {
    margin: 0;
}

.menu-container li {
    padding: 0.5rem 0.25rem;
}

.menu-section {
    display: grid;
}

.contact-container {
    width: var(--content-width);
}